<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true"/>
    <add key="ADRoot" value="Ffazure01.cloudapp.net" />
    <add key="ADPort" value="63600" />
    <add key="ADUserName" value="svc-visitapp@ffcg.se" />
    <add key="ADPassWord" value="Besok2014!" />
    <add key="TargetOU" value="Ou=Avtrycklabb,dc=ffcg,dc=local" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
</configuration>